<h2><%= @task.title %></h2>
<p> <%= @task.details %></p>

<%= link_to "Edit this task", edit_task_path %>

<%= link_to "Delete #{@task.title}",
            delete_task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" }%>

<%= link_to "Back to your tasks", tasks_path %>
